@import '../style/style.scss';

header{
    #asf{
        margin-top: 1.3%;
        margin-bottom: 4.3%;
    }
}
main{
    .negrilla{
        font-weight: bold;
    }
    .negrillaItalic{
        font-weight: bold;
        font-style: italic;
    }
    .panelCrearGift{
        width: 50%;
        margin: auto;
        background: #E6E6E6;
        
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        .headerGift{
            @extend %titulos;
            width: 99.4%;
            margin: auto;
        }
        .mainCrearGif{
            padding: 2.5%;
            .tituloMain{
                display: flex;
            }
            .textMain{
                padding: 2%;
            }
        
        }
        .mainVideo{
            #botonGrabar::before{
                content: "";
                padding: 0 1.2rem;
                margin-top: -3px;
                margin-bottom: -3px;
                margin-left: -3px;
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid black;
                box-shadow: inset -1px -1px 0 0 #997d97,inset 1px 1px 0 0 #fff; 
                background-image: url("../image/assets/camera.svg");
            }
        }
    }

}